/* Estilos Generales */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el Scroll */
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(62, 62, 62);
    opacity: 0.8;
}

/* Estilos Header */

.logo img {
    position: absolute;
    z-index: 100;
    width: 10rem;
    margin-top: -1rem;
    margin-left: 3rem;
}

.idioma {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.43);
    color: white;
    padding: 15px;
    border-radius: 3px;
    margin: 2.5rem 0 0 30rem;
    font-weight: 500;
    font-size: 18px;
}

.boton{
    position: absolute;
    z-index: 100;
    cursor: pointer;
    background-color: red;
    color: white;
    margin: 2.5rem 0 0 39rem;
    border: none;
    width: 8rem;
    height: 3.5rem;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
}

.titulo-encabezado{
    position: absolute;
    z-index: 100;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0; 
    margin-top: 10rem; 
    margin-left: 10rem;  
}

.titulo-encabezado h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.titulo-encabezado h2{
    font-weight: 100;
    font-size: 1.4rem;
}

.email-encabezado{
    position: absolute;
    z-index: 100;
    text-align: center;
}

.email-encabezado h3{
    color: white;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 30rem;
    margin-left: 8rem;
    width: 30rem;
}

.email-encabezado .email{
    width: 30rem;
    height: 4rem;
    margin-left: 8rem;
    color: #c6c0c0;
    font-weight: 500;
}


.email-encabezado button{
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    width: 10rem;
    height: 4.2rem;
    margin-left: 10rem;
}

.fondo img{
    width: 300vw;
    height: 50rem;
    opacity: 0.3;
}

hr{
    color: rgb(50, 49, 49);
    background-color: rgb(50, 49, 49);
    height: 8px;
    border:none;
    margin-top: -3px;
    width: 100rem;
}

@media screen and (min-width: 768px){
    .logo img {
        width: 8rem;
    }

    .idioma {
        padding: 8px;
        margin: 2rem 0 0 30rem;
        font-size: 15px;
    }
    
    .boton{
        margin: 2rem 0 0 37rem;
        width: 8rem;
        height: 2.3rem;
        font-size: 15px;
    }

    .titulo-encabezado{
        width: 100%;
        padding: 0; 
        margin-top: 10rem; 
        margin-left: 0;  
    }

    .titulo-encabezado h1{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    
    .titulo-encabezado h2{
        font-weight: 100;
        font-size: 1.4rem;
    }

    .email-encabezado h3{
        margin-top: 28rem;
        margin-left: 5rem;
        width: 35rem;
    }

    .email-encabezado .email{
        margin-left: 3rem;
    }

    .email-encabezado button{
        font-size: 20px;
        width: 10rem;
        height: 4.2rem;
        margin-left: -4px;
    }

    .fondo img{
        width: 150vw;
    }

}

@media screen and (min-width: 1400px){
    .logo img {
        width: 11rem;
        margin-top: -2rem;
    }

    .idioma {
        padding: 8px;
        margin: 2rem 0 0 72rem;
    }

    .boton{
        margin: 2rem 0 0 79rem;
    }

    .titulo-encabezado{
        width: 50%;
        text-align: center;
        padding: 85px; 
        margin-top: 10rem; 
        margin-left: 18rem;  
    
    }
    
    .titulo-encabezado h1{
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 1rem;
        
    }
    
    .titulo-encabezado h2{
        font-weight: 100;
        font-size: 1.4rem;
    }

    .email-encabezado h3{
        margin-bottom: 1rem;
        margin-top: 30rem;
        margin-left: 21rem;
        width: 60rem;
    }

    .email-encabezado .email{
        width: 30rem;
        height: 4rem;
        margin-left: 21rem;
    }

    .email-encabezado button{
        font-size: 20px;
        width: 15rem;
        height: 4.2rem;
        margin-left: -4px;
    }

    .fondo img{
        width: 100vw;
        height: 50rem;
    }
}

/* Estilos Main */

.content-tv{
    align-items: center;
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 0;
}

.titulo-tv{
    margin-left: 12rem;
    width: 30rem;
    color: white;
}

.titulo-tv h2{
    margin-bottom: 1rem;
    font-size:3.5rem;
}

.titulo-tv h3{
    font-size: 1.6rem;
    font-weight: 400;
}

.content-tv .video1{
    position: absolute;
    z-index: -1;
    margin: -21rem 0 0 13rem;
    width: 25rem;
}

.content-tv img{
    width: 35rem;
    margin: 0 0 0 8rem;
    text-align: center;
}

/* Section movil */

.content-movil{
    position: relative;
    align-items: center;
    display: inline-block;
    justify-content: center;
    margin: 4rem 0 30rem 0;
}

.img-movil{
    margin: 20rem 0;
}

.content-movil img{
    position: absolute;
    margin-left: 8rem;
    width: 35rem;
}

.content-movil .boton-movil{
    position: absolute;
    z-index: 100;
    margin-top: 20rem;
    margin-left: 15rem;
    width: 23rem;
    height: 6.5rem;
    background-color: black;
    border: 2px solid rgb(60, 59, 59);
    border-radius: 1rem;
}

.content-movil .boton-movil .poster{
    width: 3.5rem;
    margin-top: 0.5rem;
    margin-left: 1.6rem;
}

.content-movil .titulo-boton{
    position: absolute;
    z-index: 100;
    margin-left: 22rem;
    margin-top: 21rem;
}

.content-movil .titulo-boton h5{
    font-size: 1.2rem;
    color: white;
}

.content-movil .titulo-boton h6{
    font-size: 0.9rem;
    font-weight: 300;
    color: #0071eb;
}

.content-movil .gif-boton img{
    position: absolute;
    z-index: 100;
    width: 3rem;
    margin-left: 33rem;
    margin-top: 22rem;
}


.titulo-movil{
    margin-right: 1rem;
    width: 30rem;
    color: white;
}

.titulo-movil h2{
    position: absolute;
    margin: -20rem 0 1rem 8rem;
    font-size:3.5rem;
    width: 40rem;
}

.titulo-movil h3{
    position: absolute;
    margin: -8rem 0 0 8rem;
    width: 30rem;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Estilos segundo video */
.content-tv .video2{
    position: absolute;
    z-index: -1;
    width: 21.5rem;
    margin: -24.5rem 0 0  15rem;
}

/* Estilos contenido Kids */

.content-kids{
    align-items: center;
    display: inline-block;
    justify-content: center;
    margin: 4rem 0 30rem 0;
}

.content-kids img{
    position: absolute;
    width: 35rem;
    margin: 30rem 0 0 5rem;
}

.titulo-kids{
    margin-right: 15rem;
    width: 30rem;
    color: white;
}


.titulo-kids h2{
    margin: 5rem 0 1rem 10rem ;
    font-size: 3.5rem;
    width: 30rem;
}

.titulo-kids h3{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 5rem 0 1rem 10rem ;
}

@media screen and (min-width: 768px){
    .content-movil .titulo-boton{
        margin-top: 22rem;
    }

}

@media screen and (min-width: 1400px){
    .content-tv{
        display: flex;
        justify-content: space-between;
    }

    .content-tv img{
        width: 35rem;
        margin-right: 15rem;
    }

    .img-movil{
        margin: 0;
    
    }

    .content-movil{
        display: flex;
        justify-content: space-between;
        margin: 4rem 0 10rem 0;
    }

    .content-movil img{
        position: relative;
        margin-left: 10rem;
        width: 35rem;
    }
    
    .content-movil .boton-movil{
        position: relative;
        z-index: 100;
        margin-top: -9rem;
        margin-left: 15rem;
    }
    
    .content-movil .boton-movil .poster{
        width: 3.5rem;
        margin-top: 0.5rem;
        margin-left: 1.6rem;
    }

    .content-movil .titulo-boton{
        margin-top: -5rem;
    }

    .content-movil .gif-boton img{
        margin-top: -5rem;
    }

    .titulo-movil{
        margin: 0 15rem 0 0;
    }

    .titulo-movil h2{
        margin: -5rem 0 1rem 0;
    }

    .titulo-movil h3{
        margin: 5rem 0;
    }

    .content-kids{
        display: flex;
        justify-content: space-between;
        margin: 4rem 0 5rem 0;
    }

    .content-kids img{
        position: relative;
        margin: 5rem 0 0 8rem;
    }

    .titulo-kids h2{
        margin: 5rem 0 1rem 0 ;
    }

    .titulo-kids h3{
        margin: 0 ;
    }

}


/* Estilos menu acordeon */

.menu-acordeon{
    text-align: center;
    color: white;
    margin: 150px 0 9rem -20px;
    min-height: 130px;
    width: 100rem;
    overflow: hidden;
    box-sizing: border-box;
}

.menu-acordeon h2{
    position: absolute;
    font-size: 50px;
    margin: -6rem 0 0 7rem;
    width: 40rem;
}


.menu-acordeon .preguntas{
    min-height: 130px;
    width: 40rem;
    overflow: hidden;
    margin: 1.5rem 0 -4rem 5rem;
    overflow: hidden;
}


.menu-acordeon .preguntas .titulo-pregunta{
    display: flex;
    background-color: #363535;
    border-bottom: 2px solid black;
    text-align: left;
    height: 4rem;
}

.menu-acordeon .preguntas .titulo-pregunta .titulo-inicial{
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 25px;
}


.titulo-pregunta i{
    position: absolute;
    margin: 1.5rem 0 0 38rem ;
}

.preguntas div.info{
    background-color: #363535;
    height: 0px;
    width: 100%;
    transition: height .4s;
    overflow: hidden;
}

.preguntas p.info{
    font-size: 18px;
    text-align: left;
    margin: 1rem 0 0 1rem;
}

.preguntas:hover div.info{
    height: 230px;
}


.email-preguntas{
    position: absolute;
    z-index: 100;
    text-align: center;
}

.email-preguntas h3{
    color: white;
    font-weight: 100;
    margin: -6rem 0 1rem 3rem;
    width: 40rem;
}

.email-preguntas .email{
    width: 30rem;
    height: 4rem;
    margin-left: 2rem;
    color: #c6c0c0;
    font-weight: 500;
}


.email-preguntas button{
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    width: 10rem;
    height: 4.2rem;
    margin-left: -4px;
}

.preguntas-frecuentes{
    margin-bottom: 15rem;
}


@media screen and (min-width: 1400px){
    .menu-acordeon{
        margin: 150px auto;
    }

    .menu-acordeon .preguntas{
        width: 60rem;
        margin: 0 0 -2rem 18rem;
    }

    .menu-acordeon h2{
        margin: -6rem 0 0 30rem;
    }

    .titulo-pregunta i{
        margin: 1.5rem 0 0 55rem ;
    }

    .preguntas:hover div.info{
        height: 160px;
    }

    .email-preguntas h3{
        margin: -6rem 0 1rem 21rem;
        width: 60rem;
    }    

    .email-preguntas .email{
        margin-left: 21rem;
    }

    .email-preguntas button{
        width: 15rem;
    }
    

}

/* Estilos footer */

.menu-footer{ 
    margin: 5rem 0 0 -4rem;
    color: #6c6969;
}

.menu-footer p{
    margin-left: 9rem;
}



.info-footer{
    margin: 1rem 4rem 10rem;
    display: flex;
    font-weight: 100;
    font-size: 13px;
}

.info-footer ul{
    margin-left: 4rem;
}

.info-footer li{
    cursor: pointer;
    margin: 1.2rem;
    list-style: none;
}

.info-footer li:hover{
    text-decoration: underline;
}

.idioma-footer{
    position: absolute;
    background-color: black;
    color: #6c6969;
    margin-top: -8rem;
    margin-left: 9rem;
    padding: 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
}


.inspiracion{
    cursor: pointer;
}


.inspiracion a{
    position: absolute;
    text-decoration: none;
    color: #6c6969;
    font-weight: 300;  
    font-size: 13px;
    margin: -2rem 0 20rem 5rem;
}

.inspiracion a:hover{
    color: #0071eb;
}

.autor{
    text-align: center;
    background-color: rgb(23, 22, 22);
    padding: 0.5rem;
    width: 200vw;
}

.autor a{
    font-size: 13px;
    color: #6c6969;
    text-decoration: none;
}

.autor a:hover{
    color: #c6c0c0;    
}


@media screen and (min-width: 768px){
    .autor{
        width: 100vw;
    }

}

@media screen and (min-width: 1400px){
    .menu-footer{ 
        margin: 5rem 0 0 10rem;
    }

    .inspiracion a{
        margin: -2rem 0 20rem 19.2rem;
    }

}







